
<style>
    *{
        outline:none !important;
         text-decoration:none !important;
        font-family: 'Work Sans', sans-serif;
    }
table { table-layout: fixed; }
th { width: 33%;
    font-weight: bold;
    }
    .days{
        height:100px;
        
    }
    #year{
        font-size:25px;
        text-align:right;
        border-left:none;
    }
    #month{
        font-size:25px;
   
        border-right:none;
    }
    td a {
        text-decoration:none !important;
        color:black;
    display:block;
    width:100%;
        height:100px;
}
    .weathericon{
        font-size:20px;
        position:relative;
        left:75%;
       
.
     
    }
    .containsEvent{
        background-color:#eafbfa;
    }
    #info{
        position:relative;
        top:20px;
    }
    #weathertoday{
         border-right:none;
    }
    #infotoday{
         border-left:none;
        text-align:right;
    }#infotoday1{
         border-left:none;
         border-right:none;
        text-align:left;
    }
    #today{
        font-size:20px;
    }
    #todayicon{
        font-size:45px;
    }
   
    #newstitle{
        background-color:#248f8f;
        border-color: #248f8f;
        color:white;
        text-align:right;
        font-size:20px;
        font-weight: 200px !important;
    }
    #subdate{
        position:absolute;
        top: 45px;
        left: 220px;
    }
    .today{
        background-color:#1b7e7d;
        
        
    }
    .today a{
        color:white !important;
    }
    
</style>

 <% @date = Date.today  %> 

  <table class="table table-bordered">
    <thead>
        <tr id="today">
        <td  id="weathertoday" colspan="2">
          <i id="todayicon"></i>&nbsp; <span id="todaydesc"></span> <span id="todaytempday"></span> 
            <p id="subdate"><sub><%= @date.strftime("%B %d , %Y")%></sub></p>
            
        </td>
            <td id="music" colspan="3">
               <iframe style="border:none" src="http://files.podsnack.com/iframe/embed.html?hash=a19adeqq&t=1476205912" width="100%" height="54" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        

            </td>
            <td id="infotoday1" colspan="1" >
                <span id="info"> &nbsp;&nbsp;&nbsp;<span id="todaysunrise"></span></span>
                  
            </td>
            <td id="infotoday" colspan="1" >
                <span id="info"><span id="todaysunset">&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
                  
            </td>
        </tr>
        <tr>
            <td id="newstitle">
           <i class="fa fa-lg fa-newspaper-o" aria-hidden="true"></i> &nbsp;TOP NEWS
            </td>
            <th colspan="6">
                <marquee id="news" behavior="scroll" direction="left"></marquee></th>
            
        </tr>
        <tr>
         
            <td id="month" colspan="4">
           
            
            <%= @date.strftime("%B")%>
                    
                   
                </td>
            
             <td colspan="3" id="year">
                 
                  <%= @date.year%>
            </td>
          
        </tr>
      <tr class="week">
          <% 7.times do |i| %>
        <th> <%= Date::DAYNAMES[i] %></th>
          <%end %>
      </tr>
    </thead>
    <tbody>
        <% y =0%>
        <% 6.times do |i| %>
        <tr>
            <% 7.times do |x| %>
               
                <%if i==0 and x==Date.today.beginning_of_month.wday%>
            <% y=1 %>
             <td  id="day_box_<%=y%>" class="days">
                  <a onclick="modal(<%=y%>)"><%=y%>  <i class="weathericon"  id="<%=y%>"></i></a>
                <%else%>
                <% if y!=0 and y!=Date.today.end_of_month.day %>
                 <% y+=1 %> 
                 <td  id="day_box_<%=y%>" class="days">
                 <a onclick="modal(<%=y%>)"> <%= y %> <i class="weathericon" id="<%=y%>"></i></a>
                     <%else%>
                     <td   class="days">
                <%end%>
                <%end %>
                
            </td>
          <%end %>
            
        
        </tr>
        <%end %>
    
    </tbody>
      
      
  </table>



  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 id="datemodal" class="modal-title"></h4>
        </div>
        <div class="modal-body">
      
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1default" data-toggle="tab">Events</a></li>
                            <li><a href="#tab2default" data-toggle="tab">Create an Event</a></li>
                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1default">Events
                        <span id="event_list"></span>

                        </div>
                        <div class="tab-pane fade" id="tab2default">Create an Event
                        <%= form_for @event do |f| %>
  
                              <div class="form-group">

                             <input type="hidden" id="event_date" name="event[date]" value="" />

                                    </div>
                          <div class="form-group">
                              <%= f.label :description %><br>
                          <%= f.text_area :description, :class =>"form-control"%>
                                    </div>
                                    <div class="form-group">
                              <%= f.label :time %><br> 

                              <%= f.time_select :time,  {ampm: true}, :class =>"form-control"%>

                                    </div>


                          <%= f.submit :class =>"btn btn-default"%>

                          <% end %>

                        </div>
                    </div>
                </div>
            </div>
    
            
            
            
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
</div>

<div id="myModalNews" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 id="newsmodalTitle" class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <span  id="newsmodalFrame" ></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>





<script>
    
    
    
    
    
    function deletethis(id){

                         $.ajax({
				        type: "GET",
				        url: "/events/" + id,
				        complete: function(){
                            window.location.href="/";
        				 				        	
				        	
				        }
				    });
                        
    }
    
    var url="http://api.openweathermap.org/data/2.5/forecast/daily?";
    var lat="";
    var lon="";
    var forecast=[]
    var icons={"01d":"wi-day-sunny", "01n":"wi-night-clear", "02d":"wi-day-cloudy", "02n":"wi-night-alt-cloudy", "03d":"wi-cloud", "03n":"wi-cloud", "04d":"wi-cloudy","04n":"wi-cloudy","09d":"wi-rain", "09n":"wi-rain", "10d":"wi-day-rain", "10n":"wi-night-alt-rain","11d":"wi-thunderstorm", "11n":"wi-thunderstorm","13d":"wi-day-snow", "13n":"wi-night-snow","50d":"wi-fog","50n":"wi-fog"}
    
    
    
    var options = {
  enableHighAccuracy: true,
  timeout: 5000,
  maximumAge: 0
};

function success(pos) {
  var crd = pos.coords;

 lat= crd.latitude;
 lon=crd.longitude;
 url=url+"lat="+lat+"&lon="+lon+"&cnt=7&mode=json&appid=eccff7e6a1be7793a5f98da9fa745b6a";
 var url2= "http://api.openweathermap.org/data/2.5/weather?lat="+lat+"&lon="+lon+"&appid=eccff7e6a1be7793a5f98da9fa745b6a";
 getData(url, url2);
};

function error(err) {
  console.warn('ERROR(' + err.code + '): ' + err.message);
};

navigator.geolocation.getCurrentPosition(success, error, options);
    

    var event_list_day=[];

    <% @events.each_with_index do |event, index|%>
    event_list_day.push(['<%=event.description%>',<%=event.date%>,'<%=event.time%>',<%=event.id%>]);
<%end%>
      for(var i=0; i<event_list_day.length; i++){
          var num=event_list_day[i][1];
          $("#day_box_"+num).addClass("containsEvent");
      }
    var today_date=<%= @date.day%>;
     $("#day_box_"+today_date).addClass("today");
                  
function modal(day){
    $("#myModal").modal('show');
    $("#datemodal").html("<%= @date.strftime("%B")%> "+day+", <%= @date.year%>");
    var event_list=[];
     $("#event_date").val(day);    
    for(var i=0; i<event_list_day.length; i++){
        if (event_list_day[i][1]==day){
            event_list.push(event_list_day[i]);
        }
    }
    var list_string='<ul class="list-group">'
console.log(event_list);
    for(var y=0; y<event_list.length; y++){
        var desc=event_list[y][0];
        
        var date= event_list[y][1];
        var time= event_list[y][2].split(",");
        if(time.length==5){
        var hour= time[3].split("=&gt;");
        var min= time[4].split("=&gt;");
        min=min[1].split("}");
            if (min[0] <10){
                min[0]="0"+min[0];
            }
        
        var id= event_list[y][3];
        list_string+='<li class="list-group-item"><button onclick="deletethis('+id+')" data-id="'+id+'" class="btnDelete btn btn-danger"><i class="fa fa-lg fa-times" aria-hidden="true"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;'+desc+'<span class="badge">'+hour[1]+':'+min[0]+'</span></li>';
        }
    }
    list_string+='</ul>';
    console.log(list_string);
    $("#event_list").html(list_string); 
    
    
                         
}

function getData(url,url2){
    $.getJSON( url, {
    format: "json"
  })
    .done(function( data ) {
      
    
       for(var i=0; i<7 ;i++){
           var tempDay=Math.round(data.list[i].temp.day* 9/5 - 459.67);
           var tempMax=Math.round(data.list[i].temp.max* 9/5 - 459.67);
           var tempMin= Math.round(data.list[i].temp.min* 9/5 - 459.67);
           var desc= data.list[i].weather[0].description;
           var icon= data.list[i].weather[0].icon;
        
           $("#"+(i+<%=Date.today.day%>)).addClass("wi");
           $("#"+(i+<%=Date.today.day%>)).addClass(icons[icon]);

       }
                   
      });
      $.getJSON( url2, {
    format: "json"
  })
    .done(function( data ) {
          icon= data.weather[0].icon;
          desc= data.weather[0].description;
          tempDay=Math.round(data.main.temp* 9/5 - 459.67);
            tempMax=Math.round(data.main.temp_max* 9/5 - 459.67);
           tempMin= Math.round(data.main.temp_min* 9/5 - 459.67);
          var sunrise=data.sys.sunrise;
          
          var sunset= data.sys.sunset;
           $("#todayicon").addClass("wi");
           $("#todayicon").addClass(icons[icon]);
          $("#todaydesc").html(desc.toUpperCase());
          $("#todaytempday").html(tempDay+"<i class='wi wi-fahrenheit'></i>");
          $("#todaytempmax").html(tempMax);
          $("#todaytempmin").html(tempMin);
var timestamp = sunrise;
var date = new Date(timestamp * 1000);
var hour=date.getHours();
var min= (date.getMinutes() < 10) ? ("0" + date.getMinutes()) : date.getMinutes();

var timestamp2 = sunset;
var date2 = new Date(timestamp2 * 1000);
var hour2=date2.getHours()-12;
var min2=(date2.getMinutes() < 10) ? ("0" + date2.getMinutes()) : date2.getMinutes();
  
          
          $("#todaysunrise").html("<i class='wi wi-sunrise'></i> "+hour+":"+min+" AM ");
          $("#todaysunset").html("<i class='wi wi-sunset'></i> "+hour2+":"+min2+" PM ");
          
           
          
        
       
                   
      });
    
   
}
    
     $.getJSON("https://newsapi.org/v1/articles?source=bbc-news&sortBy=top&apiKey=0cd70c5143c345efa7618709b4f917e9"

, {
    format: "json"
  })
    .done(function( data ) {
      
  
       var articles=data.articles;
        var news="";
         for(var i=0; i<articles.length; i++){
             var art= "|&nbsp;&nbsp;<a onclick='popupNews("+'"'+articles[i].url+'"'+","+'"'+articles[i].title+'"'+")'>"+ articles[i].title+"</a>&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;";
          
             news=news+art;
         }
      
          $("#news").html(news);
         
       
                   
      });
    function popupNews(url,title){
        console.log("hey");
        $("#newsmodalTitle").html(title);
        $("#newsmodalFrame").html("<iframe src='"+url+"' width='100%' height='500' frameborder='0' scrolling='yes'></iframe>");
         $("#myModalNews").modal('show');
        
        
        
        
        
    }

</script>

  